@import "../mixins/mixin";

.main-section {
  .main-box {
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin: auto;
    // background-color: rosybrown;
    border: 1px solid green;
  }
}