@import "../mixins/mixin";

.sectionTitle {
  width: 100%;
  height: auto;
  // border: 5px solid green;
  margin: auto;
  max-width: 1440px;
  margin-top: 72px;
  margin-bottom: 74px;

  @include media(1480px) {
    padding-left: 10%;
  }

  .title-bg {
    width: 353px;
    max-width: 18vw;
    max-height: 9vw;
    height: 171px;
    // border: 1px solid gold;
    background-image: url("../../imgShop1688/icon/title_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;

    &:after {
      content: '熱門商家';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include page-font-title;
      text-shadow: -0.1em -0.05em rgb(0, 66, 4);
    }
  }
}