@import "../mixins/mixin";

.section2_content {
  width: 100%;
  height: 100%;
  // border: 5px solid green;
  display: flex;
  justify-content: space-between;

  @include media(1460px) {
    width: 95%;
    margin: 0 auto;
  }

  .web_content {
    max-width: 49vw;
    width: 690px;
    // border: 3px solid blue;

    @include media(1460px) {
      max-width: 46vw;
      margin-right: 30px;
    }

    .webTitle {
      width: 100%;
      height: 30px;
      max-height: 5vw;
      border: 1px solid black;
      display: flex;
      border-radius: 5px 5px 0 0;

      .web_title_name {
        // border: 5px solid rgb(250, 0, 0);
        width: calc(100% - 30px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: transparent linear-gradient(180deg, #F6EFEF 0%, #AEAEAE 100%) 0% 0% no-repeat padding-box;
        padding-left: 10px;

        h3 {
          @include web-font-title;
          // border: 6px solid gold;
          display: inline-block;

        }
      }

      .web_icon {
        border-left: 1px solid black;
        width: 30px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $logo-type-hover;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .web_inside {
      width: 100%;

      height: 592px;
      max-height: 37vw;
      border: 1px solid black;
      border-top: none;
      border-radius: 0 0 5px 5px;
      display: flex;
      position: relative;

      .web_shop_img {
        width: 50%;
        height: 100%;
        // border: 1px solid green;
        background-image: url("../../imgShop1688/bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .link_map {
          width: 110px;
          height: 30px;
          max-height: 3vw;
          background-color: #ffffff;
          max-width: 9vw;
          display: flex;
          // border: 1px solid red;
          border-radius: 5px;
          text-decoration: none;
          @include web-shop-map;
          justify-content: center;
          align-items: center;
          top: 7.5%;
          left: 5%;
          position: absolute;

          img {
            width: 23.38px;
            height: 23.38px;
            margin-right: 5px;
          }
        }
      }

      .web_shop_title {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;


        // border: 1px solid red;
        .shop_title {
          width: 304px;
          height: 491px;
          max-height: 33vw;
          max-width: 21vw;
          border: 2px solid #B9D8D3;
          border-left: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          display: flex;
          padding-left: 7%;

          .textLine {
            display: inline-block;

            h3 {
              @include font-tab-title;
              display: inline;
              background-image: linear-gradient(#F6EFEF 0%, #ffe49b 80%);
              background-position: left 90%;
              background-size: 0% 8px;
              background-repeat: no-repeat;
              transition: background-size 0.15s;

              &:hover {
                background-size: 100% 8px;
              }
            }
          }



          .shop_icon_box {
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 20% 0;
            @include link-font;
            color: #20443D;

            img {
              width: 40px;
              height: 40px;
            }

            .icon_type {
              margin-right: 15%;

            }
          }

          .web_button {
            width: 153px;
            height: 39px;
            // border: 1px solid red;
            position: relative;
            background: transparent linear-gradient(1deg, #88BEB6 0%, #CADFDC 100%) 0% 0% no-repeat padding-box;
            transition: all 0.2s;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media(1280px) {
              width: 100px;
            }

            p {
              @include link-font;
            }

            img {
              width: 23px;
              height: 23px;
              margin-right: 2%;
            }

            &:after {
              position: absolute;
              content: '';
              // border: 1px solid green;
              width: 7px;
              height: 40px;
              top: 3px;
              left: -7px;
              transform: skewY(-45deg);
              transition: all 0.2s;
              background-color: #77A89F;
            }

            &:before {
              position: absolute;
              content: '';
              // border: 1px solid green;
              width: 153px;
              height: 7px;
              bottom: -7px;
              right: 3px;
              transform: skewX(-45deg);
              transition: all 0.2s;
              background-color: #356158;

              @include media(1280px) {
                width: 100px;
              }
            }

            &:active {
              transform: translate(-7px, 7px);

              &:after {
                width: 0px;
                height: 38px;
                top: 0.5px;
                left: 0px;
                transform: skewY(-45deg);
              }

              &:before {
                width: 151px;
                height: 0px;
                bottom: 0px;
                right: 1.5px;
                transform: skewX(-45deg);

                @include media(1280px) {
                  width: 100px;
                }
              }
            }
          }
        }
      }

      .shop_img {
        width: 360px;
        height: 360px;
        // border: 1px solid gold;
        max-width: 23vw;
        max-height: 23vw;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .web_scroll_page {
    width: 692px;
    max-width: 48vw;
    // border: 2px solid violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 750px;
    max-height: 50vw;

    @include media(1460px) {
      max-width: 46vw;

    }

    #inSide_page {
      position: absolute;
      top: 0;
      left: 0;
      width: 1410px;
      max-width: 88vw;
      display: flex;
      height: 620px;
      // border: 3px solid blueviolet;
      justify-content: space-between;
      align-items: center;
      max-height: 40vw;

      .scroll_items {
        height: 100%;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:nth-of-type(2),
        &:nth-of-type(4) {
          transform: translateY(24px);
        }

        .shopItems {
          width: 330px;
          height: 290px;
          max-width: 20vw;
          max-height: 19vw;
          // border: 1px solid gold;
          border: 1px solid $dark;
          border-top: none;
          box-shadow: $shadow;
          transition: all 0.3s;
          position: relative;
          z-index: 1;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: $logo-items-hover;
            transition: all 0.3s;
          }

          &:hover {
            transform: rotate(7deg);

            &::after {
              transform: rotate(-7deg);
            }
          }

          .shopTitle {
            background: transparent linear-gradient(180deg, #F6EFEF 0%, #AEAEAE 100%) 0% 0% no-repeat padding-box;
            border: 1px solid rgb(0, 0, 0);
            display: flex;
            align-items: center;
            height: 24px;
            border-left: none;
            border-right: none;

            .shop_title_name {
              width: calc(100% - 24px);
              height: 100%;
              // border: 1px solid red;
              display: flex;
              justify-content: space-between;
              padding-left: 10px;
              align-items: center;

              h3 {
                @include web-font-title;
              }
            }

            .shop_icon {
              width: 24px;
              height: 100%;
              border-left: 1px solid $dark;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #B1B1B1;

              img {
                width: 14px;
                height: 14px;

              }
            }
          }

          .shopImg {
            // border: 1px solid greenyellow;
            width: 100%;
            height: calc(100% - 24px);
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-position: center;
              object-fit: cover;
              transform: scale(1.1);
              transition: all 0.5s;
            }

            &:hover {
              img {
                transform: scale(1.007);
              }

            }
          }
        }
      }

      .minRange {
        position: absolute;
        left: 0;
        top: 0;
        border: 3px solid goldenrod;
        width: 720px;
        height: 20px;
        background-color: #20443D;
        max-width: 42vw;
        opacity: 0;
        pointer-events: none;
      }
    }

    #scrollBar_section {
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 3px solid gray;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;

      .down,
      .next {
        width: 36px;
        height: 36px;
        max-width: 4vw;
        max-height: 4vw;
        border: 1px solid $dark;
        outline: none;
        background-color: $sliderBarColor;
        background-image: url("../../imgShop1688/icon/21.png");
        background-position: center;
        background-size: 12px 12px;
        background-repeat: no-repeat;
      }

      .next {
        transform: rotate(180deg);
      }

      input[type="range"] {
        transform: rotate(180deg);
        -webkit-appearance: none;
        background-color: $tab-active-bg;
        background-size: 0 100%;
        width: calc(100% - 72px);
        height: 36px;
        max-height: 4vw;
        padding: 0 3px;
        box-shadow: inset 0px 0px 12px 4px #00000030;
        border: 1px solid $dark;
        border-left: none;
        border-right: none;
      }

      input[type="range"]:focus {
        outline: none;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 250px;
        max-width: 15vw;
        height: 24px;
        max-height: 3vw;
        background-color: $sliderBarColor;
        border-radius: 2px;
        border: 1px solid $dark;
      }
    }
  }
}