.todo-input {
  width: 100%;
  max-width: 500px;
  padding: 10px 10px;
  font-size: 10px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-input:focus {
  outline: 0;
}

.todo-item {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo-item .todo-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-item .todo-item-left .todo-item-label {
  padding-left: 10px;
}

.todo-item .todo-item-left .todo-item-edit {
  font-size: 20px;
  border: 1px solid #ccc;
}

.todo-item .todo-item-left .todo-item-edit:focus {
  outline: none;
}

.todo-item .todo-item-left .completed {
  text-decoration: line-through;
  color: grey;
}

.extra-container {
  max-width: 500px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extra-container button {
  margin-right: 10px;
  padding: 10px;
}

.extra-container button:hover {
  background: #ff7e7e;
}

.extra-container button:focus {
  outline: none;
}

.extra-container .active {
  background: #ff7e7e;
}

.extra-container .fade-enter-active,
.extra-container .fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.extra-container .fade-enter,
.extra-container .fade-leave-to {
  opacity: 0;
}

.remove-item {
  cursor: pointer;
  margin-left: 14px;
  font-size: 20px;
}

.remove-item:hover {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.header {
  background-image: url("../../imgShop1688/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1920px) {
  .header {
    margin: 0;
  }
}

@media (max-width: 512px) {
  .header {
    background-position: right;
  }
}

.logo {
  background-color: #263240;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 512px) {
  .logo {
    background-color: rgba(0, 0, 0, 0);
  }
}

.logo .logo-w50 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 512px) {
  .logo .logo-w50 {
    width: 70%;
  }
}

.logo .logo-w50 a {
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 768px) {
  .logo .logo-w50 a {
    padding: 10px;
  }
}

.logo .logo-w50 a img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 146px;
  max-height: 29px;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
}

.logo .logo-w50 .logo-type {
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.6px;
  font-weight: 600;
  color: #ffffff;
  padding: 16px 25px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
}

@media (max-width: 768px) {
  .logo .logo-w50 .logo-type {
    display: none;
  }
}

.logo .logo-w50 .logo-type:hover {
  background-color: #A2C3CE;
}

.logo .logo-w50 .logo-type .items {
  position: absolute;
  top: 60px;
  width: 200px;
  left: 0;
  background-color: #263240;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  top: 53px;
  font-size: 18px;
  letter-spacing: 0.6px;
  font-weight: 600;
  color: #ffffff;
  height: 100vh;
  max-height: 0;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}

.logo .logo-w50 .logo-type .items li {
  list-style: none;
}

.logo .logo-w50 .logo-type .items li a {
  padding: 7px 0 7px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  margin: 0;
}

.logo .logo-w50 .logo-type .items li a:hover {
  background-color: #A2C3CE;
}

.logo .logo-w50 .logo-items:hover .items {
  -webkit-animation-name: typeFile;
          animation-name: typeFile;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 9999;
}

@-webkit-keyframes typeFile {
  from {
    max-height: 0px;
  }
  to {
    max-height: 266px;
  }
}

@keyframes typeFile {
  from {
    max-height: 0px;
  }
  to {
    max-height: 266px;
  }
}

.logo .logo-w50 .logo-links:hover .items {
  -webkit-animation-name: typeContant;
          animation-name: typeContant;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 9999;
}

@-webkit-keyframes typeContant {
  from {
    max-height: 0px;
  }
  to {
    max-height: 112px;
  }
}

@keyframes typeContant {
  from {
    max-height: 0px;
  }
  to {
    max-height: 112px;
  }
}

.logo .logo-w50 .nowTime {
  font-size: 18px;
  letter-spacing: 0.6px;
  font-weight: 600;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo .logo-w50 .nowTime p {
  padding: 0 5px;
}

@media (max-width: 768px) {
  .logo .logo-w50 .nowTime p:nth-of-type(1) {
    display: none;
  }
}

@media (max-width: 512px) {
  .logo .logo-w50 .nowTime p:nth-of-type(2) {
    color: #2D2D2D;
  }
}

.logo .logo-nowTime {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 3%;
}

@media (max-width: 512px) {
  .logo .logo-nowTime {
    width: 30%;
  }
}

.logo .logo-nowTime .logo-icon {
  height: 100%;
  padding: 0 13px;
}

@media (max-width: 768px) {
  .logo .logo-nowTime .logo-icon:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 512px) {
  .logo .logo-nowTime .logo-icon:nth-of-type(1) {
    display: none;
  }
  .logo .logo-nowTime .logo-icon:nth-of-type(3) {
    display: none;
  }
}

.logo .logo-nowTime .logo-icon:nth-of-type(1) {
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.logo .logo-nowTime .logo-icon:nth-of-type(1):hover {
  background-color: #A2C3CE;
}

.logo .logo-nowTime .logo-icon img {
  width: 100%;
  height: 100%;
  max-width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

#draggableArea {
  border: 1px solid green;
  width: 100%;
  height: calc(100% - 53px);
}

#draggableArea .area-one {
  width: 100%;
  max-width: 100px;
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#draggableArea .area-one .icon {
  padding: 30% 0;
}

#draggableArea .area-one .icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#draggableArea .area-one .icon a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s cubic-bezier(0.8, -2, 0.2, 4);
  transition: all 0.5s cubic-bezier(0.8, -2, 0.2, 4);
}

#draggableArea .area-one .icon a img {
  width: 100%;
  height: 100%;
  max-width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
}

#draggableArea .area-one .icon h2 {
  font-size: 18px;
  letter-spacing: 0.6px;
  font-weight: 600;
  color: #2D2D2D;
  padding-top: 10px;
}

#draggableArea .area-two {
  width: 100%;
  max-width: 1280px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#draggableArea .area-two .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E3E3E3;
  width: 100%;
  height: 35px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  border: 1px solid black;
  border-right: none;
}

#draggableArea .area-two .header-title .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 120px);
  padding: 0 15px;
}

#draggableArea .area-two .header-title .title h2 {
  font-size: 18px;
  letter-spacing: 0.6px;
  font-weight: 600;
  color: #2D2D2D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#draggableArea .area-two .header-title .title .line {
  width: 50%;
  height: 1px;
  background-color: black;
}

#draggableArea .area-two .header-title .control {
  width: 40px;
  height: 100%;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  background-color: #A2C3CE;
}

#draggableArea .area-two .header-title .control:nth-of-type(2) {
  position: relative;
}

#draggableArea .area-two .header-title .control:nth-of-type(2)::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: black;
  width: 55%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#draggableArea .area-two .header-title .control:nth-of-type(3) {
  border: none;
  position: relative;
}

#draggableArea .area-two .header-title .control:nth-of-type(3)::after {
  content: '';
  position: absolute;
  height: 45%;
  border: 2px solid black;
  width: 45%;
  left: 50%;
  top: 50%;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#draggableArea .area-two .header-title .control:nth-of-type(4) {
  position: relative;
  cursor: pointer;
}

#draggableArea .area-two .header-title .control:nth-of-type(4)::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: black;
  width: 55%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

#draggableArea .area-two .header-title .control:nth-of-type(4)::before {
  content: '';
  position: absolute;
  height: 2px;
  background-color: black;
  width: 55%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

#draggableArea .area-two .header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-top: none;
  background-color: #E3E3E3;
}

#draggableArea .area-two .header-bottom .arrow {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
}

#draggableArea .area-two .header-bottom .--arrow {
  position: relative;
}

#draggableArea .area-two .header-bottom .--arrow .pos {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#draggableArea .area-two .header-bottom .web-domin {
  border-radius: 100px;
  background-color: #ffffff;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  letter-spacing: 0.6px;
  font-weight: 600;
  color: #2D2D2D;
  padding: 10PX 28px;
  margin: 8px 0;
  width: 100%;
  max-width: 1090px;
}

#draggableArea .area-two .logo-section {
  border: 1px solid black;
  border-top: none;
  background-color: #ffffff;
}

#draggableArea .area-two .logo-section .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 0 0;
}

#draggableArea .area-two .logo-section .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.6px;
  font-weight: 600;
  color: #ffffff;
  color: #2D2D2D;
  font-weight: 600;
}

#draggableArea .area-two .logo-section .link a img {
  margin-right: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  max-width: 20px;
}
/*# sourceMappingURL=main.css.map */